interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/business_areas/
  response:
    body:
      string: '{"count":164,"next":"http://stg-hope.unitst.org/api/rest/business_areas/?limit=50&offset=50","previous":null,"results":[{"id":"cf1c0bd4-2deb-4bbc-b4f6-1f4f4dc20247","name":"Afghanistan","code":"0060","long_name":"THE
        ISLAMIC REPUBLIC OF AFGHANISTAN","slug":"afghanistan","parent":null,"is_split":false,"active":true},{"id":"b1986d21-a703-4bff-8c4c-4482e5da7dd8","name":"Albania","code":"0090","long_name":"THE
        REPUBLIC OF ALBANIA","slug":"albania","parent":null,"is_split":false,"active":false},{"id":"ba4af92e-7840-4e60-95bf-0c324ce9db52","name":"Algeria","code":"0120","long_name":"THE
        PEOPLE''S DEMOCRATIC REPUBLIC OF ALGERIA","slug":"algeria","parent":null,"is_split":false,"active":false},{"id":"06ebb758-55cf-4fd0-8fdc-abb5db6b2cec","name":"Analysis,Planning
        & Monitoring","code":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://stg-hope.unitst.org/api/rest/business_areas/?limit=50&offset=50
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>Microsoft-Azure-Application-Gateway/v2</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://stg-hope.unitst.org/api/rest/business_areas/?limit=50&offset=50
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/business_areas/?limit=50&offset=50
  response:
    body:
      string: '{"count":164,"next":"http://stg-hope.unitst.org/api/rest/business_areas/?limit=50&offset=100","previous":"http://stg-hope.unitst.org/api/rest/business_areas/?limit=50","results":[{"id":"0838877c-583c-4422-9656-9dba6d430006","name":"Eswatini","code":"4030","long_name":"THE
        KINGDOM OF ESWATINI","slug":"eswatini","parent[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/beneficiary-groups/
  response:
    body:
      string: "{\"count\":4,\"next\":null,\"previous\":null,\"results\":[{\"id\":\"eb4abcfb-1bce-4594-a4b4-fe702382a071\",\"name\":\"Education
        Workers\",\"group_label\":\"School\",\"group_label_plural\":\"Schools\",\"member_label\":\"School
        Staff Member\",\"member_label_plural\":\"School Staff Members\",\"master_detail\":true},{\"id\":\"ec091f1f-fcc9-4c71-8b1b-de00a06f4ac5\",\"name\":\"Health
        Community Group\",\"group_label\":\"CAC - Community\",\"group_label_plural\":\"CACs
        - Communities\",\"member_label\":\"Membre du comit\xE9\",\"member_label_plural\":\"Membres
        du comit\xE9s\",\"master_detail\":true},{\"id\":\"80ff2cdf-1f29-4e51-990d-98798abb3fce\",\"name\":\"Household\",\"group_label\":\"Household\",\"group_label_plural\":\"Households\",\"member_label\":\"Individual\",\"member_label_plural\":\"Individuals\",\"master_detail\":true},{\"id\":\"49776084-e003-4a60-8fa7-f70b12f1b5ae\",\"name\":\"Social
        Workers\",\"group_label\":\"House\",\"group_label_plural\":\"Houses\",\"member_label\":\"Individual\",\"member_label_plural\":\"Individuals\",\"master_detail\":false}]}"
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      ETAG:
      - a78d4595fd62903f46c2b29ddee3583e
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/programs/
  response:
    body:
      string: '{"count":551,"next":"http://stg-hope.unitst.org/api/rest/programs/?limit=50&offset=50","previous":null,"results":[{"id":"4c782850-a0c8-45cb-97e6-40740df36f44","name":"TARGET
        BY DM COLLECTOR","programme_code":"-198","status":"ACTIVE","start_date":"2024-12-06","end_date":null,"budget":"0.00","frequency_of_payments":"REGULAR","sector":"HEALTH","scope":null,"cash_plus":false,"population_goal":0,"business_area_code":"4140","beneficiary_group":"49776084-e003-4a60-8fa7-f70b12f1b5ae"},{"id":"d28b8dc7-c278-4b59-a08c-61c501e25162","name":"OCT_Round
        2 face images","programme_code":"MI.P","status":"ACTIVE","start_date":"2024-10-02","end_date":"2024-10-31","budget":"0.00","frequency_of_payments":"REGULAR","sector":"MULTI_PURPOSE","scope":null,"cash_plus":false,"population_goal":0,"business_area_code":"4140","beneficiary_group":"49776084-e003-4a60-8fa7-f70b12f1b5ae"},{"id":"927a0d93-58fd-41a5-9302-53c0cba0c532","name":"Test
        Mo[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://stg-hope.unitst.org/api/rest/programs/?limit=50&offset=50
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>Microsoft-Azure-Application-Gateway/v2</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://stg-hope.unitst.org/api/rest/programs/?limit=50&offset=50
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/programs/?limit=50&offset=50
  response:
    body:
      string: '{"count":551,"next":"http://stg-hope.unitst.org/api/rest/programs/?limit=50&offset=100","previous":"http://stg-hope.unitst.org/api/rest/programs/?limit=50","results":[{"id":"03f8fde5-d484-4431-abdb-a5e20c0da677","name":"ADMIN3","programme_code":"US4K","status":"ACTIVE","start_date":"2024-06-06","end_date":"2024-06-27","budget":"0.0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/programs/?limit=50&offset=550
  response:
    body:
      string: '{"count":551,"next":null,"previous":"http://stg-hope.unitst.org/api/rest/programs/?limit=50&offset=500","results":[{"id":"b13ea78d-bd38-4e7c-a8f2-3b4255193d3b","name":"RDI
        Feature testing","programme_code":"S5B5","status":"ACTIVE","start_date":"2025-02-01","end_date":"2026-01-31","budget":"0.00","frequency_of_payments":"REGULAR","sector":"SOCIAL_POLICY","scope":null,"cash_plus":false,"population_goal":0,"business_area_code":"3920","beneficiary_group":"80ff2cdf-1f29-4e51-990d-98798abb3fce"}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
version: 1
