interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/lookups/country/
  response:
    body:
      string: "{\"count\":250,\"next\":\"http://stg-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50\",\"previous\":null,\"results\":[{\"id\":\"3524d0f0-710b-4048-b108-9bf7f85403e7\",\"name\":\"Afghanistan\",\"short_name\":\"Afghanistan\",\"iso_code2\":\"AF\",\"iso_code3\":\"AFG\",\"iso_num\":\"0004\",\"valid_from\":\"2021-11-10T09:53:24.881580Z\",\"valid_until\":null,\"updated_at\":\"2025-05-02T13:40:10.408987Z\"},{\"id\":\"a6b29629-ac36-4823-b8c0-1282f019b6bb\",\"name\":\"\xC5land
        Islands\",\"short_name\":\"\xC5land Islands\",\"iso_code2\":\"AX\",\"iso_code3\":\"ALA\",\"iso_num\":\"0248\",\"valid_from\":\"2021-11-10T09:53:24.892087Z\",\"valid_until\":null,\"updated_at\":\"2021-11-10T09:53:24.892055Z\"},{\"id\":\"1b584cbf-c63e-425c-bf9c-274f062b308c\",\"name\":\"Albania\",\"short_name\":\"Albania\",\"iso_code2\":\"AL\",\"iso_code3\":\"ALB\",\"iso_num\":\"0008\",\"v[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://stg-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>Microsoft-Azure-Application-Gateway/v2</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://stg-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50
  response:
    body:
      string: "{\"count\":250,\"next\":\"http://stg-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=100\",\"previous\":\"http://stg-hope.unitst.org/api/rest/lookups/country/?limit=50\",\"results\":[{\"id\":\"a12721b0-defc-4f62-9f56-d3cb9be8d39a\",\"name\":\"Congo\",\"short_name\":\"Congo\",\"iso_code2\":\"CG\",\"iso_code3\":\"COG[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/areatypes/
  response:
    body:
      string: "{\"count\":324,\"next\":\"http://stg-hope.unitst.org/api/rest/areatypes/?limit=50&offset=50\",\"previous\":null,\"results\":[{\"id\":\"032a8d45-2600-441b-966f-7a3def7c263f\",\"created_at\":\"2022-05-24T10:35:00.041970Z\",\"updated_at\":\"2022-05-24T10:35:00.041987Z\",\"original_id\":\"fedf728f-c375-4ddf-ad57-142f9a7972eb\",\"name\":\"Aimag\",\"area_level\":1,\"valid_from\":\"2022-05-24T10:35:00.042026Z\",\"valid_until\":null,\"extras\":{},\"lft\":1,\"rght\":4,\"tree_id\":38,\"level\":0,\"country\":\"936d82d4-7fc4-4c3f-8829-1026ad762dfe\",\"parent\":null},{\"id\":\"bdc3f075-851f-490a-a5a8-f3afb8a00c30\",\"created_at\":\"2023-07-13T17:11:03.348399Z\",\"updated_at\":\"2023-08-03T19:28:41.367665Z\",\"original_id\":null,\"name\":\"Aire
        Sante\",\"area_level\":4,\"valid_from\":\"2023-07-13T17:11:03.348456Z\",\"valid_until\":null,\"extras\":{},\"lft\":4,\"rght\":5,\"tree_id\":126,\"level\":3,\"country\":\"047cf7fc-a102-4277-b02c-c400c88ddfa5\",\"parent\":\"5a15bf92-267e-4e28-88d2-c8aaa16d49ac\"},{\"id\":\"f0bb92e5-2665-4091-9a7e-1b2c4e2f7b[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://stg-hope.unitst.org/api/rest/areatypes/?limit=50&offset=50
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>Microsoft-Azure-Application-Gateway/v2</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://stg-hope.unitst.org/api/rest/areatypes/?limit=50&offset=50
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/areatypes/?limit=50&offset=50
  response:
    body:
      string: '{"count":324,"next":"http://stg-hope.unitst.org/api/rest/areatypes/?limit=50&offset=100","previous":"http://stg-hope.unitst.org/api/rest/areatypes/?limit=50","results":[{"id":"a0617d98-ef31-440d-847f-370bca83e535","created_at":"2022-05-24T10:35:10.508490Z","updated_at":"2022-05-24T10:35:10.508503Z","original_id":"d924e101-6133-472[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/areas/
  response:
    body:
      string: "{\"count\":14287,\"next\":\"http://stg-hope.unitst.org/api/rest/areas/?limit=50&offset=50\",\"previous\":null,\"results\":[{\"id\":\"f311fb9a-74a8-4197-96c6-732ee9fd585a\",\"created_at\":\"2023-07-26T09:19:22.650283Z\",\"updated_at\":\"2023-07-26T09:19:22.669462Z\",\"original_id\":null,\"name\":\"\",\"p_code\":\"KE002008003800001\",\"longitude\":null,\"latitude\":null,\"valid_from\":\"2023-07-26T09:19:22.650317Z\",\"valid_until\":null,\"extras\":{},\"lft\":34,\"rght\":35,\"tree_id\":5183,\"level\":3,\"parent\":\"1ea39f66-df78-4474-9a06-3b7c735d846d\",\"area_type\":\"c3103c18-a23c-4674-83de-55976970078e\"},{\"id\":\"c129fc4b-ca92-4f5c-8099-d8f5d023a9f6\",\"created_at\":\"2023-07-26T09:19:22.479162Z\",\"updated_at\":\"2023-07-26T09:19:22.499362Z\",\"original_id\":null,\"name\":\"\",\"p_code\":\"KE002008003700001\",\"longitude\":null,\"latitude\":null,\"valid_from\":\"2023-07-26T09:19:22.479196Z\",\"valid_until\":null,\"extras\":{},\"lft\":26,\"rght\":27,\"tree_id\":5183,\"level\":3,\"parent\":\"87278029-1cac-4237-9796-fc7382d81f20\",\"area_type\":\"c3103c18[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://stg-hope.unitst.org/api/rest/areas/?limit=50&offset=50
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>Microsoft-Azure-Application-Gateway/v2</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://stg-hope.unitst.org/api/rest/areas/?limit=50&offset=50
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/areas/?limit=50&offset=50
  response:
    body:
      string: "{\"count\":14287,\"next\":\"http://stg-hope.unitst.org/api/rest/areas/?limit=50&offset=100\",\"previous\":\"http://stg-hope.unitst.org/api/rest/areas/?limit=50\",\"results\":[{\"id\":\"bd9d16ea-c81c-46ef-97a2-79351ae95d5f\",\"created_at\":\"2023-08-03T19:40:10.808092Z\",\"updated_at\":\"2024-04-30T01:23:35.295824Z\",\"original_id\":nu[...]
[...]
