interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/lookups/residencestatus/
  response:
    body:
      string: '{"":"None","IDP":"Displaced  |  Internally Displaced People","REFUGEE":"Displaced  |  Refugee
        / Asylum Seeker","OTHERS_OF_CONCERN":"Displaced  |  Others of Concern","HOST":"Non-displaced  |   Host","NON_HOST":"Non-displaced  |   Non-host","RETURNEE":"Displaced  |   Returnee"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/lookups/maritalstatus/
  response:
    body:
      string: '{"":"None","DIVORCED":"Divorced","MARRIED":"Married","SEPARATED":"Separated","SINGLE":"Single","WIDOWED":"Widowed"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/lookups/observeddisability/
  response:
    body:
      string: '{"NONE":"None","SEEING":"Difficulty seeing (even if wearing glasses)","HEARING":"Difficulty
        hearing (even if using a hearing aid)","WALKING":"Difficulty walking or climbing
        steps","MEMORY":"Difficulty remembering or concentrating","SELF_CARE":"Difficulty
        with self care (washing, dressing)","COMMUNICATING":"Difficulty communicating
        (e.g understanding or being understood)"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/lookups/relationship/
  response:
    body:
      string: '{"UNKNOWN":"Unknown","AUNT_UNCLE":"Aunt / Uncle","BROTHER_SISTER":"Brother
        / Sister","COUSIN":"Cousin","DAUGHTERINLAW_SONINLAW":"Daughter-in-law / Son-in-law","GRANDDAUGHER_GRANDSON":"Granddaughter
        / Grandson","GRANDMOTHER_GRANDFATHER":"Grandmother / Grandfather","HEAD":"Head
        of household (self)","MOTHER_FATHER":"Mother / Father","MOTHERINLAW_FATHERINLAW":"Mother-in-law
        / Father-in-law","NEPHEW_NIECE":"Nephew / Niece","NON_BENEFICIARY":"Not a
        Family Member. Can only act as a recipient.","OTHER":"Other","SISTERINLAW_BROTHERINLAW":"Sister-in-law
        / Brother-in-law","SON_DAUGHTER":"Son / Daughter","WIFE_HUSBAND":"Wife / Husband","FOSTER_CHILD":"Foster
        child","FREE_UNION":"Free union"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stg-hope.unitst.org/api/rest/lookups/role/
  response:
    body:
      string: '{"NO_ROLE":"None","ALTERNATE":"Alternate collector","PRIMARY":"Primary
        collector"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
version: 1
