interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev-hope.unitst.org/api/rest/business_areas/
  response:
    body:
      string: '{"detail":"Invalid token."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Token
      X-Hope-Backend-Version:
      - None
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://dev-hope.unitst.org/api/rest/beneficiary-groups/
  response:
    body:
      string: '{"count":5,"next":null,"previous":null,"results":[{"id":"ed5bf7fb-6eb4-43e9-a60f-b743c7dc144b","name":"Education
        Workers","group_label":"School","group_label_plural":"Schools","member_label":"Teacher","member_label_plural":"Teachers","master_detail":true},{"id":"b2febecd-4877-40ad-a42c-77dd99dc73de","name":"Education
        Workers2","group_label":"School","group_label_plural":"Schools","member_label":"Student","member_label_plural":"Students","master_detail":true},{"id":"745cfaaf-0d33-471d-876d-f7b74128f377","name":"Household","group_label":"Household","group_label_plural":"Households","member_label":"Individual","member_label_plural":"Individuals","master_detail":true},{"id":"47f8fdc2-6390-4db5-ba56-5c3a84bf235e","name":"Social
        Workers","group_label":"Household","group_label_plural":"Households","member_label":"Individual","member_label_plural":"Individuals","master_detail":false},{"id":"88b302d6-5907-40a7-bcfa-f5b67fb2efb6","name":"SW2","group_label":"Household","group_label_plural":"Households","member_label":"Individual","member_label_plural":"Individuals","master_detail":false}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      ETAG:
      - a78d4595fd62903f46c2b29ddee3583e
      X-Hope-Backend-Version:
      - None
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dev-hope.unitst.org/api/rest/programs/
  response:
    body:
      string: '{"detail":"Invalid token."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Token
      X-Hope-Backend-Version:
      - None
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dev-hope.unitst.org/api/rest/programs/
  response:
    body:
      string: '{"detail":"Invalid token."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Token
      X-Hope-Backend-Version:
      - None
    status:
      code: 401
      message: Unauthorized
version: 1
