
#changelist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .changelist-form-container {
    @apply w-1/2;
    #changelist-form {
      .results {
        width: 300px;
        overflow: scroll;

        table {
        }
      }
    .actions {
      @apply mb-2;
      select {
        @apply text-sm py-2 pt-1 pb-1;
      }

      button[type=submit] {
        @apply text-sm
      }

      .action-counter, .all {
        @apply ml-5;
      }
      .question a, .clear a{
        @apply text-unicef-dark
      }
    }
    }


  }

  .clear {
    clear: both;
  }

  table {
    border-right: none;
    border-collapse: collapse;
    border-color: var(--border-color);

    thead {
      display: table-header-group;
      vertical-align: middle;
      unicode-bidi: isolate;

      th {
        //background: var(--selected-bg);
        font-size: 0.6875rem;
        border: none;
        border-bottom: 1px solid var(--hairline-color);
        border-top: 1px solid var(--hairline-color);
        color: var(--body-quiet-color);
        display: table-cell;
        font-weight: 500;
        line-height: normal;
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
        white-space: nowrap;

        &.sorted {
          .text {
            margin-right: 42px;
          }
        }

        .text {
          span {
            padding: 8px 10px;
          }

          a {
            display: block;
            cursor: pointer;
            padding: 8px 10px;
            color: var(--body-quiet-color);
            text-decoration: none;
            transition: color 0.15s, background 0.15s;
          }
        }

        .sortoptions {
          padding: 9px 5px 0 5px;
          @apply block float-right text-right;

          a {
            position: relative;
            width: 14px;
            height: 14px;
            display: inline-block;
            background: url(sorting-icons.svg) 0 0 no-repeat;
            background-size: 14px auto;
          }

          a.ascending {
            background-position: 0 -28px;
          }

          a.descending {
            top: 1px;
            background-position: 0 -56px;
          }

          a:link {
            transition: color 0.15s, background 0.15s;
          }

          a.sortremove {
            background-position: 0 0;
          }

          span.sortpriority {

          }
        }

        &.action-checkbox-column {
          width: 1.5em;
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        @apply hover:bg-gray-100;
        @apply border-b-gray-100 border;

      }

      td, th {
        padding: 20px;

        white-space: normal;
        word-break: break-word;
        overflow-wrap: break-word;
        vertical-align: top;
        font-size: 0.8125rem;
        overflow: auto;
        cursor: pointer;

        &.nowrap {
          white-space: nowrap;
        }

        &.field-info {
          white-space: pre-line;
        }

        &.action-checkbox {
          width: 1.5em;
          text-align: center;
        }
      }

      tr:nth-child(odd) {
        @apply hover:bg-gray-100 bg-white py-12 border-b-gray-600;
      }

      tr:nth-child(even) {
        @apply hover:bg-gray-100 bg-white py-12 border-b-gray-600;
      }

      tr.selected:nth-child(odd), tr.selected:nth-child(even) {
        @apply bg-blue-100
      }
    }
  }
}


#changelist-filter {
  @apply border border-gray-500 ml-2 rounded;
  h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin-bottom: 12px;
    border-bottom: none;
  }

  #changelist-filter-extra-actions {
    a {
      @apply text-sm font-sans italic;
    }
  }

  h3 {
    font-weight: 400;
    padding: 0 15px;
    margin-bottom: 10px;
  }

  details {
    @apply mt-1;
    > * {
      display: inline;
    }

    summary {
      font-weight: 400;
      padding: 0 15px;
      margin-bottom: 10px;
      list-style-type: none;
      cursor: pointer;

      &::before {
        //content: '→';
        content: '►';
        //content: '▷';
        font-weight: bolder;
        font-size: 18px;
        font-family: "Courier New", Courier, monospace;
        color: var(--link-hover-color);
      }
    }

    &:last-child {
      @apply mb-4;
    }

    &.active {
      summary {
        @apply font-bold text-unicef-blue;
      }
    }
  }

  details[open] > summary::before {
    //content: '↓';
    content: '▼';
  }

  ul {
    margin: 0 0;
    @apply px-2;
    select {
      @apply min-w-full p-1 text-sm;
      border-radius: 4px;
      min-height: 30px;
      height: 28px;
      border-color: rgb(204, 204, 204);

      &:active {
        border-color: rgb(204, 204, 204)

      }
    }

    li {
      @apply min-w-full;
      .select2-container {
        border-radius: 4px;
        @apply min-w-full;
      }

      &.selected {
        @apply font-bold text-unicef-blue;
      }
    }
  }

  ul:last-child {
    border-bottom: none;
  }
}


table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}

.paginator {
  @apply flex bg-gray-100 border p-2;
  a, span {
    @apply px-2 mx-1 border border-gray-600;
  }

  span {
    @apply bg-gray-400 text-white;
  }
}
