.*
~*
*.egg-info
__pycache__
!.dockerignore
!.dockerignoredo
!.git
!.github/
!.gitignore
!.pre-commit-config.yaml
!.idea33
!.semgrep

!tests/.coveragerc
!docs/**/.pages

junit.xml
coverage.xml
src/{{cookiecutter.package_name}}/version.py

node_modules/
dist/
root/
