{% extends "workspace/change_form.html" %}
{% load admin_modify i18n static workspace_modify workspace_urls %}
{% block page-title %}
    {% url "workspace:workspaces_countryasyncjob_changelist" as wcl %}
    &rsaquo; <a href="{% add_preserved_filters wcl %}">Background Jobs</a>{% admin_url modeladmin %}
    &rsaquo; {{ original }}{% admin_url original %}
{% endblock page-title %}
{% block object-tools %}
    <div class="flex items-center">
        <div class="flex-none px-10 text-xl font-bold text-blue-700">
            {{ original.verbose_status }}
        </div>
        <div class="grow">
            {{ block.super }}
        </div>
    </div>
{% endblock object-tools %}
{% block after_field_sets %}
    <table class="min-w-full">
        <tr>
            <th>
                Queue time
            </th>
            <td>
                {{ original.datetime_queued }}
            </td>
        </tr>
        <tr>
            <th>
                Type
            </th>
            <td>
                {{ original.type }}
            </td>
        </tr>
        <tr>
            <th>
                Owner
            </th>
            <td>
                {{ original.owner }}
            </td>
        </tr>
        <tr>
            <th>
                File
            </th>
            <td>
                {{ original.file }}
            </td>
        </tr>
    </table>
{% endblock after_field_sets %}
