{% extends "workspace/change_list.html" %}
{% load admin_modify i18n static workspace_modify workspace_urls %}
{% block page-title %}
    {% if selected_household %}
        &rsaquo; <a href="{% url "workspace:workspaces_countryhousehold_changelist" %}">{{ title_group_plural }}</a>
        &rsaquo; <a href="{% url "workspace:workspaces_countryhousehold_change" selected_household.pk %}">{{ selected_household }}</a>{% admin_url selected_household %}
        &rsaquo; {{ title_member_plural }}
    {% else %}
        &rsaquo; {{ title_member_plural }} {% admin_url modeladmin %}
    {% endif %}
{% endblock page-title %}
