{% extends "workspace/actions/base.html" %}{% load i18n %}
{% block content %}
<div>
    Select the columns you want to update
</div>
<form method="post" id="bulk-update-form">
    <div class="submit-row">
        <input type="submit" value="{% translate 'Export' %}" class="default" name="_export">
    </div>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% load i18n admin_urls workspace_urls %}
    <div class="submit-row float-right">
        <input type="submit" value="{% translate 'Export' %}" class="default float-right" name="_export">
    </div>

</form>
{% endblock %}
