{% extends "workspace/actions/base.html" %}{% load i18n %}
{% block content %}

<form method="post" id="bulk-update-form">
    <div class="submit-row">
        <input type="submit" value="{% translate 'Import' %}" class="default" name="_import">
    </div>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <div class="submit-row float-right">
        <input type="submit" value="{% translate 'Import' %}" class="default float-right" name="_import">
    </div>

</form>
{% endblock %}
