{% extends "workspace/actions/base.html" %}{% load i18n %}
{% block content %}
<div>
    All selected records will be updated with the values below
</div>
<form method="post" id="mass-update-form">
    <div class="submit-row">
        <input type="submit" value="{% translate 'Apply' %}" class="default" name="_apply">
    </div>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% load i18n admin_urls workspace_urls %}
    <div class="submit-row float-right">
        <input type="submit" value="{% translate 'Apply' %}" class="default float-right" name="_apply">
    </div>

</form>
{% endblock %}
