{% extends "workspace/action_page.html" %}{% load i18n workspace_modify workspace_urls %}
{% block content %}
    {% block object-tools %}
        {# {% if change and not is_popup %} #}
        {# <ul class="object-tools"> #}
        {# {% block object-tools-items %} #}
        {# {% include "admin_extra_buttons/includes/change_form_buttons.html" %} #}
        {# {% endblock object-tools-items %} #}
        {# </ul> #}
        {# {% endif %} #}
    {% endblock object-tools %}
    <div id="content">
        <div id="content-main">
            <div class="min-w-full">
                <div id="tabs">
                    <ul id="default-styled-tab">
                        <li class="me-2" role="presentation">
                            <button class="selected"
                                    data-tabs-target="#tab-rdi"
                                    data-input-value="rdi"
                                    type="button" role="tab"
                                    aria-selected="false">RDI
                            </button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button
                                    data-tabs-target="#tab-aurora"
                                    data-input-value="aurora"
                                    type="button" role="tab"
                                    aria-selected="false">Aurora
                            </button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button
                                    data-tabs-target="#tab-kobo-assets"
                                    data-input-value="kobo-assets"
                                    type="button" role="tab"
                                    aria-selected="false">Kobo Assets
                            </button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button
                                    data-tabs-target="#tab-kobo-data"
                                    data-input-value="kobo-data"
                                    type="button" role="tab"
                                    aria-selected="false">Kobo Data
                            </button>
                        </li>
                    </ul>
                </div>

                <div id="tab-content">
                    <div class="content" id="tab-rdi">
                        {% include "workspace/program/_import_rdi.html" %}
                    </div>
                    <div class="hidden content" id="tab-aurora">
                        {% include "workspace/program/_import_aurora.html" %}
                    </div>
                    <div class="hidden content" id="tab-kobo-assets">
                        {% include "workspace/program/_import_kobo_assets.html" %}
                    </div>
                    <div class="hidden content" id="tab-kobo-data">
                        {% include "workspace/program/_import_kobo_data.html" %}
                    </div>
                </div>
            </div>

            {# <div class="block min-w-full"> #}
            {# <fieldset class="block border  min-w-full p-5"> #}
            {# <legend>RDI</legend> #}
            {# <form method="post" id="import-file" enctype="multipart/form-data"> #}
            {# {% csrf_token %} #}
            {# <table> #}
            {# {{ form_rdi.as_table }} #}
            {# </table> #}
            {# </form> #}
            {# </fieldset> #}
            {# <fieldset class="block border"> #}
            {# <legend>Aurora</legend> #}
            {# {{ form_aurora }} #}
            {# </fieldset> #}
            {# <fieldset class="block border"> #}
            {# <legend>Kobo</legend> #}
            {# </fieldset> #}
            {# </div> #}
            {# <form method="post" id="import-file" enctype="multipart/form-data"> #}
            {# {% csrf_token %} #}
            {# <table> #}
            {# {{ form.as_table }} #}
            {# </table> #}
            {#  #}
            {# <div class="submit-row"> #}
            {# <input type="submit" value="{% translate 'Import' %}" class="default" name="_save"> #}
            {# {% url opts|workspace_urlname:'change' original.pk as changelist_url %} #}
            {# <a href="{% add_preserved_filters changelist_url %}" class="closelink">{% translate 'Close' %}</a> #}
            {# </div> #}
            {# </form> #}
        </div>
    </div>
{% endblock content %}
