{% extends "workspace/layout.html" %}
{% load feature_flags i18n workspace_urls %}
{% block header %}
    {{ program_form.media.css }}
    <div class="pr-10 flex-grow align-middle pt-3">
        <form id="select-tenant" method="post" action="{% url "workspace:select_tenant" %}">
            {% csrf_token %}
            <span class="flex align-middle">{{ tenant_form.tenant }}{% admin_url active_tenant %}</span>
        </form>
    </div>
    {% if active_tenant %}
        <div class="pr-10 flex-grow align-middle pt-3">
            <form id="select-program" method="post" action="{% url "workspace:select_program" %}">
                {% csrf_token %}
                <span class="flex align-middle">{{ program_form.program }}{% admin_url active_program %}</span>
            </form>
            {{ program_form.media.js }}
        </div>
    {% endif %}
{% endblock header %}
{% block menu %}
    <ul class="menu p-0 w-full h-5/6 mt-10">
        {% for item in menu_items %}
            <li class="flex {% if item.selected %}selected{% endif %}{% if forloop.first %}h-12{% endif %}{% if item.indent %}pl-5{% endif %}">
                {% if item.is_form %}
                    <form method="post" action="{{ item.url }}">
                        {% csrf_token %}
                        <span class="flex w-full px-4">
                            <span class="flex text-2xl pt-2 pr-4 icon {{ item.icon }}"></span>
                            <button class="display-open" type="submit">
                                {{ item.name }}
                            </button>
                        </span>
                    </form>
                {% else %}
                    <a class="flex w-full px-4" href="{{ item.url }}" {% if item.target %}target="{{ item.target }}"{% endif %}>
                        <span class="flex text-2xl pt-2 pr-4 icon {{ item.icon }}"></span>
                        <div class="flex-grow pt-3 display-open">
                            {{ item.name }}
                        </div>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock menu %}
{% block page-top %}
    <div class="title-top">
        <h2>
            {% block page-title %}
                {{ title|default_if_none:"" }}
            {% endblock %}
        </h2>
    </div>
{% endblock page-top %}
