{% extends "workspace/layout.html" %}{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block userlinks %}
{#    {% if active_tenant %}#}
        {% block select_ba_form %}
            <div style="display: inline-flex">
                <form id="select-tenant" method="post" action="{% url "workspace:select_tenant" %}">
                    {% csrf_token %}{{ tenant_form }}
                    <script>
                        document.querySelector('#id_tenant').addEventListener('change', function () {
                            document.getElementById('select-tenant').submit();
                        });
                    </script>
                </form>
            </div>
        {% endblock %} |
        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
            {% csrf_token %}
            <button type="submit">{% translate 'Logout' %}</button>
        </form> |
        {% include "workspace/color_theme_toggle.html" %} |
        {% if request.user.is_superuser %}<a href="{% url "admin:index" %}">admin</a>{% endif %}
{#    {% else %}#}
{#        {{ block.super }}#}
{#    {% endif %}#}
{% endblock %}
{% block footer %}{% include "workspace/_footer.html" %}{% endblock %}
