{% extends "workspace/_base.html" %}
{% load i18n workspace_list workspace_urls %}
{% block extrahead %}
    {{ block.super }}
    {% if cl.formset or action_form %}
        <script src="{% url "workspace:jsi18n" %}"></script>
    {% endif %}
{% endblock extrahead %}
{% block content %}
    <div id="content">
        {% block object-tools %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    {% change_list_object_tools %}
                    {% include "workspace/admin_extra_buttons/includes/change_list_buttons.html" %}
                {% endblock object-tools-items %}
            </ul>
        {% endblock object-tools %}
        <div id="content-main">
            <div class="module{% if cl.has_filters %} filtered{% endif %}  min-w-full  flex" id="changelist">
                <div class="changelist-form-container flex-1">
                    {% block search %}
                        {% search_form cl %}
                    {% endblock %}
                    <form id="changelist-form"
                          method="post"
                          {% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}
                          novalidate>
                        {% csrf_token %}
                        {% if cl.formset %}
                            <div>
                                {{ cl.formset.management_form }}
                            </div>
                        {% endif %}
                        {% block result_list %}
                            {% if action_form and actions_on_top and cl.show_admin_actions %}
                                {% admin_actions %}
                            {% endif %}
                            {% result_list cl %}
                            {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                                {% admin_actions %}
                            {% endif %}
                        {% endblock result_list %}
                        {% block pagination %}
                            {% pagination cl %}
                        {% endblock %}
                    </form>
                </div>
                {% block filters %}
                    {% if cl.has_filters %}
                        <nav id="changelist-filter" class="flex-none w-1/6" aria-labelledby="changelist-filter-header">
                            <h2 id="changelist-filter-header">
                                {% translate 'Filter' %}
                            </h2>
                            {% if cl.is_facets_optional or cl.has_active_filters %}
                                <div id="changelist-filter-extra-actions">
                                    {% if cl.is_facets_optional %}
                                        <h3>
                                            {% if cl.add_facets %}
                                                <a href="{{ cl.remove_facet_link }}" class="hidelink">{% translate "Hide counts" %}</a>
                                            {% else %}
                                                <a href="{{ cl.add_facet_link }}" class="viewlink">{% translate "Show counts" %}</a>
                                            {% endif %}
                                        </h3>
                                    {% endif %}
                                    {% if cl.has_active_filters %}
                                        <h3>
                                            <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
                                        </h3>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% for spec in cl.filter_specs %}
                                {% admin_list_filter cl spec %}
                            {% endfor %}
                        </nav>
                    {% endif %}
                {% endblock filters %}
            </div>
        </div>
    </div>
{% endblock content %}
