{% extends "workspace/action_page.html" %}
{% load i18n workspace_modify workspace_urls %}
{% block page-title %}
    {% if selected_household %}
        &rsaquo; <a href="{% url "workspace:workspaces_countryhousehold_changelist" %}">{{ title_group_plural }}</a>
        &rsaquo; <a href="{% url "workspace:workspaces_countryhousehold_change" selected_household.pk %}">{{ selected_household }}</a>{% admin_url selected_household %}
        &rsaquo; <a href="{% url "workspace:workspaces_countryindividual_changelist" %}?household__exact={{ selected_household.pk }}">{{ title_member_plural }}</a> {% admin_url modeladmin household__exact=selected_household.pk %}
        &rsaquo;{{ original }}{% admin_url original %}
        &rsaquo; Raw Data
    {% else %}
        &rsaquo; <a href="{% url "workspace:workspaces_countryhousehold_changelist" %}">{{ title_group_plural }}</a>
        &rsaquo; <a href="{% url "workspace:workspaces_countryhousehold_change" original.household.pk %}">{{ original.household }}</a>{% admin_url original.household %}
        &rsaquo; <a href="{% url "workspace:workspaces_countryindividual_changelist" %}?household__exact={{ original.household.pk }}">{{ title_member_plural }}</a> {% admin_url modeladmin household__exact=selected_household.pk %}
        &rsaquo;{{ original }}{% admin_url original %}
        &rsaquo; Raw Data
    {% endif %}
{% endblock page-title %}
{% block content %}
    <div id="content"  class="min-w-full">
        <div id="content-main"  class="min-w-full">
            <table>
                {% for name, value in original.raw_data.items %}
                    <tr>
                        <th>
                            {{ name }}
                        </th>
                        <td>
                            {{ value }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
