{% spaceless %}
    <li>
        <a href="{{ button.url }}{% if is_popup %}&_popup=1{% endif %}"
           onclick="this.style.pointerEvents='none'; this.style.opacity='0.6';"
           {% include "admin_extra_buttons/includes/attrs.html" with button=button %}>
            {% if button.icon %}
                <i class="{{ button.icon }}"></i> 
            {% endif %}
            {% if button.label == "Individual Columns" %}
                {{ btnlabels.individual_columns|default:button.label }}
            {% elif button.label == "Household Columns" %}
                {{ btnlabels.household_columns|default:button.label }}
            {% else %}
                {{ button.label }}
            {% endif %}
        </a>
    </li>
{% endspaceless %}
