{% load workspace_urls workspace_validation %}
{% if has_change_permission %}
    {% for field in form %}
        {% field_error field as err %}
        <tr class="{% if err %}error{% endif %}">
            <th>
                <a id="{{ field.label }}"></a>{{ field.label }} ({{ field.name }})
            </th>
            <th class="min-w-full">
                {{ field }}
                <br />
                <span class="helptext">{{ field.field.flex_field.attrs.help_text }}</span>
            </th>
            <td class="validation-error">
                {% if err %}
                    {{ err|join:", " }}
                {% endif %}
            </td>
            <td>
                {% if perms.hope_flex_fields.can_change_flexfield %}
                    {% admin_url field.field.flex_field %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {# {{ form.as_table }} #}
{% else %}
    {% for k,v in fields.items %}
        <tr>
            <th>
                {{ k }}
            </th>
            <td>
                {{ v }}
            </td>
        </tr>
    {% endfor %}
{% endif %}
