{% extends "workspace/actions/base.html" %}
{% load i18n workspace_urls %}
{% block action-content %}
    {{ intro_text|default:"Selected beneficiaries will be pushed to the HOPE core system." }}
    <div>
        <form method="post" id="create-rdp-form">
            <div class="submit-row">
                <input type="submit"
                       value="{% firstof submit_label 'Create RDP' %}"
                       class="default"
                       name="{{ submit_name|default:'_create' }}" />
            </div>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        </form>
    </div>
{% endblock action-content %}
