{% extends "workspace/actions/base.html" %}
{% load i18n workspace_urls %}
{% block action-content %}
    Selected beneficiaries will be pushed to the HOPE core system.
    <div>
        <form method="post" id="push-to-hope-form">
            <div class="submit-row">
                <input type="submit" value="{% translate 'Push' %}" class="default" name="_push" />
            </div>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% load admin_urls i18n workspace_urls %}
        </form>
    </div>
{% endblock action-content %}
